<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProfile name="observability">
        <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
            <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
            <captureMdcAttributes>requestId,sessionId</captureMdcAttributes>
        </appender>
        <root level="INFO">
            <appender-ref ref="OTEL"/>
        </root>
    </springProfile>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
